._link{
    text-decoration: none;
    color : black;
    display: block;
    width: 100%;
    height: 100%;
}

._link_li{
    background-color: lightgrey;
}
._link:hover{
    text-decoration: none;
    color : lightseagreen;
}

._link_other{
    font-size: 70%;
}