<h2>Centre de Santé</h2>

<p>
  Les étudiants des établissements universitaires grenoblois peuvent bénéficier sans avance de frais de consultations individuelles et d'ateliers de groupe.
Chaque étudiant se présentant au Centre de santé est d’abord reçu par une infirmière pour un entretien d’évaluation, qui pourra donner lieu, si besoin, à une orientation vers un autre professionnel de santé.
Des projets sont également portés par le Centre de santé, notamment la mise en place récente d'un observatoire sur les activités physiques, le poids, la consommation de produits psychoactifs et l'état de santé mentale des étudiants ainsi que l'amélioration de l'accueil des étudiants étrangers via la production d'un document bilingue.
https://centre-sante.univ-grenoble-alpes.fr/
</p>
