<h2>Bourse</h2>

<p>
  Le CROUS propose des résidences universitaires pour aider les étudiants à se loger. Ces logements sont proposés en priorité aux étudiants boursiers.
</p>
<p>
Chaque CROUS aura son site et ses résidences. Il faut rechercher pour votre ville quelle sont les résidence CROUS existantes.
</p>
<p>
Pour faire une demande de logement il faut au préalable remplir le dossier social étudiant (DSE) et cocher la case « Je demande un logement ». Il faut ensuite compléter et préciser sa demande en allant sur trouverunlogement.lescrous.fr
</p>
<p>
Sur ce site, vous trouverez tout ce que les Crous peuvent vous proposer. Vous géolocaliserez les résidences par rapport aux lieux d'études et vous bénéficierez d'un descriptif détaillé du lieu et de photos tant de l'ensemble de la résidence que des logements.
</p>
<p>
Il est possible de faire deux vœux par secteur, sur trois secteurs maximum (on entend par secteur les villes de l'académie). Vous pouvez faire plusieurs demandes dans une même résidence quand plusieurs types de logements sont proposés ou privilégiez la colocation.
</p>
<p>
Dans le cas d'une première demande, les attributions sont prononcées début juillet par le directeur général du Crous. Vous en êtes informé par SMS et par e-mail. Vous disposez ensuite d'un délai de 7 jours pour confirmer en ligne la réservation (et effectuer le paiement par carte bancaire).
</p>
<p>
Pour le CROUS Grenoble-Alpes, voici le site cliquez <a href="http://www.crous-grenoble.fr/demanderunlogement/le-logement-universitaire/">ici</a>
</p>
<p>
Plus d’infos <a href="https://trouverunlogement.lescrous.fr/">ici</a>
</p>
