<h2>CAF (APL)</h2>

<p>
  Les Aides Personnalisées au Logement sont proposées par la Caisse d’Allocations Familiales.
L'aide personnalisée au logement (APL) est une aide financière destinée à réduire le montant de votre loyer, mensualité d'emprunt ou redevance (si vous résidez en foyer). Elle est versée en raison de la situation de votre logement et ce, quelle que soit votre situation familiale : célibataire, marié, avec ou sans personne à charge. Les conditions d'attribution diffèrent selon que vous êtes en location, que vous accédez à la propriété ou que vous résidez en foyer.
Plus d’infos :
https://www.service-public.fr/particuliers/vosdroits/F12006
</p>
