<footer id="sticky-footer" class="py-4 bg-light text-white-50">
  <div class="container text-left" style="line-height: 10px;text-align:left;">
    <a class="foot-link" routerLink="/Aboutus">About us</a>
  </div>
  <p style="font-size: 10px; color: grey; text-align:center;">
    Site Internet EtuRoom par OVH Siège social : 2 rue Kellermann 59100 Roubaix
    - France
    <br />
    OVH est une SAS au capital de 10 069 020 € RCS Lille Métropole 424 761 419
    00045 Code APE 2620Z N° TVA : FR 22 424 761 419
  </p>
</footer>
