<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="whiteBg" style="margin-top: 8%; padding: 5%">
        <h2>Erasmus</h2>

        <p>
          Le programme Erasmus consiste en un échange d’étudiants entre les
          différents pays ayant signé l’accord. Cela comprend les 25 pays
          européens, ainsi que l’Islande, la Suisse, le Liechtenstein la
          Norvège, la Bulgarie, la Turquie et la Roumanie. Le nouveau programme
          Erasmus+ vise à soutenir des actions dans les domaines de
          l’enseignement, de la formation, de la jeunesse et du sport pour la
          période 2014-2020. Erasmus+ soutient financièrement une large gamme
          d’actions et d’activités dans les domaines de l’enseignement, de la
          formation, de la jeunesse et du sport. Le programme vise à donner aux
          étudiants, aux stagiaires, au personnel et d'une manière générale aux
          jeunes de moins de 30 ans avec ou sans diplôme, la possibilité de
          séjourner à l’étranger pour renforcer leurs compétences et accroître
          leur employabilité. Il aide les organisations à travailler dans le
          cadre de partenariats internationaux et à partager les pratiques
          innovantes dans les domaines de l’éducation, de la formation et de la
          jeunesse. Erasmus+ comporte également une importante dimension
          internationale notamment dans le domaine de l'enseignement supérieur.
          Cette dimension permet d'ouvrir le programme à des activités de
          coopération institutionnelle, de mobilité des jeunes et du personnel
          et ce, au niveau mondial. Plus d’infos : https://info.erasmusplus.fr/
        </p>
        <app-reddit-post [cat_tag]="tag"></app-reddit-post>
      </div>
    </div>
  </div>
</div>
