<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="whiteBg" style="margin-top: 8%; padding: 5%">
        <h2>Crous / Cnous</h2>

        <p>
          Le CROUS est le centre régional des œuvres universitaires et
          scolaires, le CNOUS est le centre national des œuvres universitaires
          et scolaires. Les critères d’attribution des bourses sont nationaux,
          mais la mise en place est régionale. Les conseils et la mise en place
          est régionale pour plus de proximité avec les étudiants concernés.
          C'est quoi ? La circulaire n° 2019-096 du 18 juin 2019 définit la
          bourse ainsi : « La bourse d'enseignement supérieur sur critères
          sociaux est accordée à l'étudiant confronté à des difficultés
          matérielles ne lui permettant pas d'entreprendre ou de poursuivre des
          études supérieures. Elle constitue une aide complémentaire à celle de
          la famille. À ce titre, elle ne peut se substituer à l'obligation
          alimentaire telle que définie par les dispositions des articles 203 et
          371-2 du Code civil qui imposent aux parents d'assurer l'entretien de
          leurs enfants, même majeurs, tant que ces derniers ne sont pas en
          mesure de subvenir à leurs propres besoins. Les revenus ainsi que les
          charges de la famille sont pris en compte pour déterminer le taux de
          la bourse fixé en application d'un barème national.» Plus d’info :
          https://www.etudiant.gouv.fr/pid33629-cid96330/les-bourses-sur-criteres-sociaux.html
          Vérifier si vous êtes éligible :
          https://www.service-public.fr/particuliers/vosdroits/R18296
        </p>
      </div>
    </div>
  </div>
</div>
