<h2>Aide Financières</h2>
<p>Bourse sur critères sociaux, aide au logement, prêt étudiant, aide au mérite, bourse Erasmus, accompagnement social... Vous voulez en savoir davantage sur les bourses et les aides financières auxquelles vous pouvez prétendre ?
https://www.service-public.fr/particuliers/vosdroits/F32456
https://www.etudiant.gouv.fr/pid33628/vos-aides-financieres.html</p>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><a routerLink="/Bourse/BourseErasmus" >Erasmus</a></li>
  <li class="list-group-item"><a routerLink="/Bourse/CrousCnous" >Crous/Cnous</a></li>
</ul>
