<h2>Soutien Social/Scolaire</h2>

<p>
  http://www.cpeg38.org/
Une aide gratuite et personnalisée, sur le principe du soutien scolaire,
ouvert à tous quelle que soit l’appartenance philosophique, religieuse ou politique
https://article-1.eu/
Née de la fusion de deux associations majeures de lutte contre l’inégalité des chances -Frateli & Passeport Avenir- Article 1 œuvre pour une société où l’orientation, la réussite dans les études et l’insertion professionnelle ne dépendent pas des origines sociales, économiques et culturelles ; pour une société où la réussite passe par le lien social et l’engagement citoyen.
http://www.foyer-etudiant.org/
Le Foyer étudiant - Résidence internationale, est un home chaleureux, familial qui accueille durant toute l’année des étudiants de toutes nationalités.
Au cœur de Grenoble, un hébergement calme et convivial, un lieu de travail et d’échanges au sein du beau bâtiment de l'ancien couvent des Minimes datant de 1640.
En plein centre historique, le Foyer permet aux jeunes étudiant(e)s qui abordent la vie universitaire d’avoir un confort de sécurité et d’accessibilité rapide à toutes commodités.
Vous êtes à proximité immédiate des rues piétonnes, à 20 min à pied et 10 minutes en tram de la gare SCNF, à 10 minutes en tram ou vélo du campus universitaire de Saint Martin d’Hères.
L’équipe est composée de deux veilleurs de nuit, d’un pôle administratif, technique et logistique pour le confort et le calme des résidents.
Le Foyer vise à favoriser les échanges entre résidents et personnels du Foyer afin que chacun puisse trouver l’écoute et l’aide dont il a besoin pour mener à bien son parcours d’étude loin de sa famille.
Le Foyer met à la disposition des étudiant(e)s des salles communes pour permettre l’organisation d’animations et d’ateliers afin de favoriser les échanges interculturels et l’apprentissage de la vie en collectivité.
Ces rencontres permettent de s’intégrer à travers le dialogue et le partage auprès d’autres résidents de tout horizon afin d’éviter l’anonymat dans le respect d’autrui et des différences, ce qui aide à la tolérance et l’ouverture vers le monde.
</p>
<app-reddit-post [cat_tag]="tag"></app-reddit-post>