<h2>Aides Sociales</h2>

<p>
  De nombreuses aides sociales sont versées en France par la CAF (voir la liste), Pôle Emploi ou d’autres organismes. Certaines d’entre-elles sont réservées « aux jeunes et étudiants ». Par cette notion, on entend les moins de 26 ans.
Elles concernent les jeunes à la recherche d’un emploi, en grande difficulté face à l’insertion professionnelle, les jeunes qui poursuivent leurs études (sous forme de différentes bourses), l’accès gratuit à certains loisirs…
Afin de vous aider dans vos recherches, nous avons listé pour vous plus de 20 dispositifs auxquels peuvent prétendre les jeunes et les étudiants. En cas de besoin, il est possible de se rapprocher de la mission locale pour les moins de 26 ans voir de s’informer auprès d’une assistante sociale.
https://www.aide-sociale.fr/les-aides-financieres-aux-jeunes-et-aux-etudiants/
</p>
