<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="whiteBg" style="margin-top: 8%; padding: 5%">
        <h2>Ameli</h2>

        <p>
          La Sécurité Sociale met à votre disposition son site
          https://www.ameli.fr/ afin de créer et gérer votre compte. Que vous
          soyez assuré, professionnel de santé ou employeur, vous avez accès sur
          ce site à toutes les informations utiles sur l’Assurance maladie. Ce
          site permet de : • suivre vos remboursements en temps réel, •
          télécharger une attestation de droits ou d'indemnités journalières, •
          ou poser une question à votre caisse par mail. L'Assurance Maladie
          joue un rôle majeur au service de la solidarité nationale. Ses
          missions : • Garantir l'accès universel aux droits et permettre
          l'accès aux soins • Accompagner chacun dans la préservation de sa
          santé • Améliorer l'efficacité du système
        </p>
        <app-reddit-post [cat_tag]="tag"></app-reddit-post>
      </div>
    </div>
  </div>
</div>
