<h2>Distributions Alimentaires</h2>

<p>
  A Grenoble et dans sa région, les principales associations caritatives françaises sont actives dans le domaine de l’alimentation. Elles distribuent des colis de produits qui permettront ensuite de préparer chez soi son repas.
http://www.solidarites-grenoble.fr/aide/73/957-distribution-de-colis-alimentaires-gratuits-ou-pas-chers.htm
Il s’agit des Restaurants du Cœur, du Secours populaire français, de la Croix-Rouge française.
A Grenoble, une association protestante est aussi active, le Diaconat protestant.
https://www.restosducoeur.org/
https://www.secourspopulaire.fr/
https://www.croix-rouge.fr/
http://www.diaconat-grenoble.org/
</p>
<app-reddit-post [cat_tag]="tag"></app-reddit-post>
