<h2>Le Bon Coin</h2>
<p>
  Ce site est un site de petites annonces qui est très utilisé pour les annonces immobilières. Vous trouverez donc sur ce site des offres d’appartements en location.
Voici le lien de ce site :
https://www.leboncoin.fr/
Sélectionnez votre région puis affinez votre recherche en précisant votre besoin (via les catégories : immobilier > location, via la localisation, puis si vous le souhaitez via des précisions sur le loyer ou le nombre de pièces par exemple)
</p>

<app-reddit-post [cat_tag]="tag"></app-reddit-post>
