<h2>Aide au logement</h2>

<p>Vous pouvez percevoir une allocation logement si vous respectez les 4 conditions suivantes :
    • Être français. Si vous êtes étranger, vous devez disposer d'un titre de séjour en cours de validité
    • Louer un logement décent
    • Ne pas avoir de lien de parenté avec le propriétaire du logement
    • Avoir des ressources (salaire, bourse, pension alimentaire reçue...) inférieures à certains plafonds
Pour savoir si vous pouvez percevoir une allocation logement, vous pouvez utiliser le simulateur de la Caf.
Selon la nature du logement et votre situation familiale, 3 types d'aides au logement peuvent vous être accordées :
    • l'allocation de logement à caractère social (ALS) si vous êtes étudiant célibataire ou en couple, sans personne à charge,
    • l'allocation de logement à caractère familial (ALF) si vous êtes étudiant célibataire ou en couple avec une personne à charge, en métropole ou dans les Dom,
    • l'aide personnalisée au logement (APL) si vous êtes étudiant célibataire ou en couple avec ou sans personne à charge, résidant dans un logement conventionné en métropole.
https://www.service-public.fr/particuliers/vosdroits/F1563</p>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><a routerLink="/Apl" >CAF / APL</a></li>
</ul>
